
  @font-face {
    font-family: Oswald;
    src: url("../font/oswald/Oswald-Regular.ttf");
  }
  
  body {
    margin: 0;
    background-image: url("../img/fond.png");
  }
  
  .container {
    max-width: 750px;
    background-color: white;
    margin: auto;
  }
  
  header {
    background-color: #b8cb21;
    padding: 0px;
    overflow: auto;
  }
  nav {
    float: right;
    font-family: Oswald;
    font-size: 1.3em;
    margin: 20px;
  }
  nav > ul > li {
    display: inline-block;
  }
  
  nav a {
    color: black;
    margin: 0 10px;
    text-transform: uppercase;
  }

  main {
    padding: 20px;
  }
  
  section {
    overflow: auto;
    clear: both;
  }
  
  section h2 {
    font-family: Oswald;
    color: #b8cb21;
    text-transform: uppercase;
  }
  
  section img {
    width: 40%;
    float: left;
    margin-right: 10px;
  }
  
  section p {
    text-align: justify;
  }
  
  button {
    color: white;
    background-color:#b8cb21;
    border: none;
    padding: 10px;
    float: right;
  }
  
  
  footer {
    text-align: center;
    width: 70%;
    margin: auto;
    margin-top: 30px;
  }
  
  footer p {
    margin-top: 0;
  }
  
  footer img {
    width: 50px;
  }

  .paragraphefooter{
    text-align: center;
}
.under1,.under2,.under4{
    text-decoration: underline;
    color:rgb(189, 41, 189);
}
.under3{
    text-decoration: underline ;
    color: blue;
}
.p5,.p6{
    font-size: x-small;
}
.p6{
    text-align: center;
}
